//.container
//  position relative
//  padding 1em
//  padding-top 18*3px
//
//.header
//  background-color #22262C
//  color #FFFFFF
//  height 18px
//  padding 18px
//  position fixed
//  top 0
//  left 0
//
//.header>div
//  display inline-block
//
//.name
//  position absolute
//  margin-left 1.5em
//  font-family sans-serif
//

//
//.user-data
//  padding-right 2em
//  float right
$header-height = 18px

.header
  background-color #22262C
  color white
  height $header-height*3

  div
    display inline-block

    .burger
      width 1.5em
      height 18px
      position relative

    .burger-item
      width inherit
      height 1px
      background-color white
      position absolute

    .burger-item-1
      top 2px

    .burger-item-2
      top 8.5px

    .burger-item-3
      bottom 2px

    .app-name
      margin-left 1em
      margin-top $header-height